apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: glbu
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: glbu
    app.kubernetes.io/part-of: byoc-app-drcg
  name: glbu
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: glbu
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: glbu
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-iljf-tenant/byoc-app-drcg/glbu@sha256:132e9d040de4e5b829cf283026f880982bacf50119bf94c80825c6bbb35e44ae
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
